

<select>
	{{#each operators as |operator|}}
		<option value="{{operator}}">{{operator}}</option>
	{{/each}}
</select>

{{!-- {{filters.[1]}}
{{#each filters as |filter|}}
	{{filter.type}}
{{/each}} --}}

{{!-- <select>
	{{#each select.options as |option|}}
		<option value="{{option.value}}">{{option.text}}</option>
	{{/each}}
</select> --}}